.slds-card__header.slds-grid {
  background: #f3f3f3;
  border-radius: .25rem;
  border: 1px solid var(--slds-g-color-border-base-1, #e5e5e5);
}

.scroll-table {
  height: 300px;
  overflow-y: scroll;
  overflow: hidden;
}