:host {
    --primaryBlue500: #0066B9;
    --primaryBlue100: #EFF6FB;
    --colorWhite: #fff;
    --colorBlack: #000;

    --borderCheck: 0px solid #000;
    --fontFamily: 'Proxima-Nova';
    --fontFamilyBold: 'ProximaNova-Bold';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'ProximaNova-Bold';
}

.card-title{
    position:relative;
}

.card-main,
.card-title,
.card-desc-container,
.card-details {
    border: var(--borderCheck);
    font-family: 'ProximaNova';
}

.card-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.card-main {
    width: 100%;
    border: 1px solid var(--primaryBlue500);
    cursor: pointer;
}

.card-main:hover {
    outline: 4px solid #0066b9;
    transition: outline 0.5s;
    cursor: pointer;
    }




/*.card-title {
    align-content: center;
    background-color: var(--primaryBlue500);
    padding: 1.3em;
;
}*/

/*.card-title a {
    text-decoration: none;
    font-size: 15pt;
    font-family: var(--fontFamilyBold);
    color: var(--colorWhite);
}*/

.card-title a:hover {
    text-decoration: none;
}

.card-body {
    display: flex;
    width: 100%;
}

.card-desc-container {
    /* width: 60%;*/
    font-family: 'ProximaNova';
}

.card-description {
    padding: 1em;
    font-size: 12pt;
    height: 75%;
}

.card-button {
    margin-left: 1em;
    text-align: center;
    border-radius: 48px;
    background-color: #F5F5F5;
    width: 100px;
}

.card-button p {
    font-size: 12pt;
    line-height: 2em;
}

.card-details {
    /*width: 40%;*/
    font-size: 12pt;
    background-color: var(--primaryBlue100);

}

.card-detail-list {
    padding: 1em;
    border: var(--borderCheck);
    color: #373A3C;
}

path {
    fill: var(--primaryBlue500);
}

.item-container,
.item-icon,
.item-label {
    border: var(--borderCheck);
    align-items: baseline;
}

.item-container {
    align-items: flex-start;
    display: inline-flex;
    width:100%;

}

.item-label {
    text-indent: 1em;
    margin: auto 0px;
}

.item-del {
    margin: auto;
    text-align: left;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.desc-content.bodyRegular {
    text-align: left;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

/*for CCE*/
.delivery-blocks{
    margin: 3px auto auto auto;
    text-align: left;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}



.item-label-cce{
    margin: 3px 0px auto 0px;
    text-indent: 0.5em !important;
}

.no-padding{
    padding: 0.5rem 5px !important
}

.slds-col.card-details.slds-size_1-of-1.slds-medium-size_1-of-2.slds-large-size_6-of-12 {
    padding: 5px;
}

.desc-contentc.bodyRegular {
    text-align: left;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.card-contents-parent .desc-contentc {
    width: 100% !important;
}

.slds-p-right_small.slds-col.slds-size_1-of-1.slds-grid.slds-wrap {
    padding: 20px 0px;
}
/*end of CCE*/

/* Mobile CSS */
@media screen and (max-width: 764px) {
    .no-padding{
        padding: 0.5rem 1rem !important
    }
}

.text-overflow {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    position: relative;
}

.card-contents-parent {
    height: 208px;
    position: relative;
}