@import 'c/cssLibrary';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.accordionHeader {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  color: #0066b9;
  margin-right: auto;
}

.accordionContent {
  padding: 16px 0 0;
  font-family: "ProximaNova";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
}

.slds-accordion__summary{
  margin-left: 0px  !important;
  margin-right: 0px  !important;
} 
  
.slds-accordion__section{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/** Closed **/
.slds-accordion__summary-heading {
  /*padding: 16px;*/
  margin: auto;
}

/** Expanded **/
.slds-accordion__section .slds-is-open .slds-accordion__summary {
  background: #0066B9;

}

.slds-accordion__section .slds-is-open .accordionHeader {
  color: #ffffff !important
}

.slds-accordion__summary-content .h4{
  margin-right: auto;
}

.slds-accordion__summary-heading .slds-button:focus {
  text-decoration: none;
}

img.slds-accordion__summary-action-icon{
  width: 1rem;
  height: 1rem;;
}

.slds-accordion__content{
  font-family: "ProximaNova";
  font-size:  1.125rem;
  font-weight: 400;
  line-height: 1.3125rem;
  color: #1C1C1C;
  padding: 1rem 0 !important
}