article.card-with-bg {
  background-color: var(--lwc-colorBackground);
}

div.header-with-bg {
  background-color: var(--lwc-colorBackground);
}
.slds-dropdown__item a:focus {
  outline: none;
  background-color: #f3f2f2;
}