:host {
    --defaultFontColor: #fff;
    --bgColor: #012A4C;
}

.header {
    top: 0;
    bottom: 0;
    border: var(--borderColorCheck);
    background-color: var(--bgColor);
    width: 100%;
    height: 6.8rem;
}

.header_container, .header_logo_container, .contact_link_container {
    border: var(--borderColorCheck);
}

.header_logo_container  {
    margin-top: 1em;
}



/*.contact_link_container {
    margin: 2em 2em;
    padding-right: 2em;
}*/

.header_logo {
    width: 190px;
    height: 50px;    
}

.contact_link a {
    font-size: large;
    font-weight: bold;
    color: var(--defaultFontColor);
    text-decoration: underline;
}

.contact_link a:hover {
    text-decoration: none;
}

header.header.slds-grid.slds-gutters {
    margin: 0 auto !important;
}

@media only screen and (max-width: 764px) {
    .header {
        top: 0;
        bottom: 0;
        max-width: 100%;
        height: 5rem;
    }


    /*
    .header_logo {
        width: 130px;    
        height: 30px;
        object-fit: cover;
        object-position: 93px 0
    }*/
    .header_logo{
        width: 48px;
        height: 35px;
        object-fit: cover;
        object-position: 10px 0;
    }

    .contact_link a {
        font-size: small;
    }

    /*hamburger menu*/
    .mobile-call{
        top: 14px !important;
    }

}


/*hamburger menu*/
@media only screen and (max-width: 767px) {
        .mobile-call{
            width: auto;
            text-align: center;
            right: 25px;
            position: absolute;
            top: 36px;
            height: auto;
            padding: 3px 10px;
            border-right: 1px solid #fff;
        }
    
    


}