.noFloat {
    display: none !important;
    float: none !important;
}

p.bodyBold {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    position: relative;
    height: 25px;
    text-align: right;
    width: 450px;
    color: #FFFFFF;
    padding: .25rem 0 1rem .25rem;
}

.logout{
    color: #373A3C;
    font-size: 16px;
}

.expand-div-drpdown{
    margin-top: 4rem;
}

.expand-span-drpdown{
    margin-top: 9rem;
}

/**desktop*/
@media only screen and (min-width: 768px){
    .pop-over{
        position: relative;
        top: 40px;
        left: 83%;
        background: #FFFFFF;
        font-size: 16px;
    }

    .prof-name{
        color: #FFFFFF;
        font-size: 18px;
    }

    .btn-logout{
        height: auto !important;
    }

    .profile-container{
        width: 230px;
        justify-content: flex-end;
    }

    .desktop{
        display: flex;
    }

    .isMobile{
        display: none;
    }
}


/**mobile*/
@media only screen and (max-width: 767px){
    .pop-over {
        position: relative;
        top: 50px;
        left: 45%;
        background: #FFFFFF;
        font-size: 16px;
    }

    .prof-name{
        color: #FFFFFF;
        font-size: 18px;
    }

    .btn-logout{
        height: auto !important;
    }

    .profile-container{
        width: 230px;
        justify-content: flex-end;
    }

    .prof-align {
        float: right;
    }

    .desktop{
        display: none;
    }

    .isMobile{
        display: block;
    }
}

lightning-icon.slds-icon_container_circle.slds-icon-action-user.slds-icon_container {
    background-color: #FFFFFF !important;
}

.icon-color{
    color:#012A4C;
    fill:#012A4C;
}

.tooltip{
    display: inline-block;
    color: #FFF !important;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #FFF;
    color: #1C1C1C;
    text-align: center;
    border-radius: 0;
    padding: 5px;
    border: 1px solid #1C1C1C;
    font-size: 12px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    width: 200px;
    margin-left: -85px;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  div.tooltiptext{
    word-break: break-word;
    white-space: normal !important;
  }