.btn-view-all {
    color: #0F5897;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}
div.header-with-bg {
    background-color: var(--lwc-colorBackground);
  }