.gray-text{
    color:gray;
}

.sf-blue-text{
    color:#0176d3;
}

.title-text{
    color:#003b6f;
    padding-top: 5px;
    padding-bottom: 5px;
}

.width-expanded{
    width: 100%;
}

.orange-background{
    background-color: orange;
}

.accordion-section-label{
    --sds-c-accordion-heading-font-size : inherit;
    background-color: white;
}
