:host {
    font-family: "ProximaNova";
    --lwc-inputStaticFontSize: 1.125rem !important;
    --lwc-inputStaticFontWeight: 400;
    --lwc-borderRadiusMedium: 0rem;
    --slds-c-checkbox-color-border: #0066B9;
    --sds-c-checkbox-color-border: #0066B9;
    --lwc-colorBorderInput: #0066B9 !important;
}

.component {
    padding: 10px 0;
}

.component-title {
    text-align: left;
    color: var(--lwc-brandAccessible);
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px
}

.product-title {
    text-align: left;
    color: var(--lwc-brandAccessible);
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px
}

.warning-label {
    font-style: italic;
    color: red;
}

.icon-button {
    position: absolute;
    z-index: 1;
    margin: 0.5% 0 0 92%;
}

.asterisk {
    color: var(--status-color-error);
}

.mar-10 {
    margin-top: var(--space-2);
}

.mar-bot-10 {
    margin-bottom: var(--space-2);
}

.mar-left-10 {
    padding-left: 10px;
}

.mar-right-10 {
    padding-right: 10px;
}

button.slds-button {
    height: 0px !important;
}

lightning-input-field.slds-form-element {
    font-family: "ProximaNova";
    font-size: 1.125rem !important;
    line-height: 1.3125rem !important;
    font-style: normal;
    font-weight: 400;
    border-radius: 0 !important;
    color:#616161 !important;
    width: 100%;
}

svg.slds-button__icon {
    fill: #0066B9 !important;
}

span.slds-checkbox abbr {
    border-bottom: 0px dotted #818a91 !important;
    text-decoration: none;
}

.btn-container {
    width: 420px;
}

.fblack {
    color: #000;
}

.btn-link {
    display: block;
    text-align: left;
    height: 150px;
    padding: 1em;
    margin-left: 0.7em;
    border: 1px solid #DBDBDB;
    font-size: var(--icon-size-18);
}

.btn-link-disabled {
    display: block;
    text-align: left;
    height: 150px;
    padding: 1em;
    margin-left: 0.7em;
    border: 1px solid #DBDBDB;
    font-size: var(--icon-size-18);
}


.btn-link:hover {
    background: var(--main-color-blue500);
    transition: 1s;
}

.btn-link-disabled:hover {
    background: #fff;
}


.btn-link:hover p {
    color:#fff !important;
}

.btn-link-disabled:hover p {
    color:#000 !important;
}

a:hover, a:visited {
    text-decoration: none;
}

span:hover, span:visited {
    text-decoration: none;
}

.striked-text {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

@media only screen and (max-width: 764px) {
   /* .component {
        padding: 10px 10px;
    }*/

    .slds-col--padded {
        padding: 0px !important;
    }

    lightning-layout-item.slds-p-around_small {
        padding: 0;
    }

    .edit-textbox{
        width: 100%;
    }

    .slds-p-right_medium {
        padding: 0px !important;
    }

    .slds-grid .slds-grid_align-end{
        justify-content: flex-start;
    }

}

@media only screen and (min-width: 320px) and (max-width: 325px) {
    .no-padd {
        padding: 10px 0px !important;
    }
}




@media only screen and (min-width: 765px) {
    .removedItem-button {
        text-align: left;
    }

    .edit-textbox{
        width: 100%;
    }

    .slds-medium-size_3-of-12, .slds-medium-size--3-of-12 {
        width: 25%;
    }

    .slds-medium-size_9-of-12, .slds-medium-size--9-of-12 {
        width: 75%;
    }
}

/*Pay Now*/
.removedItem-button button.slds-button{
    height: 0px !important;
    text-decoration: underline;
    font-weight: normal !important;
    font-family: 'ProximaNova';
  }
  .slds-checkbox .slds-checkbox__label .slds-form-element__label,
  .terms-condition label{
    font-size: var(--icon-size-18) !important;
    font-weight: normal !important;
    color: var(--greys-color-bodytext);
    font-family: 'ProximaNova' !important;
  }
  
  .terms-condition{
    position:relative
  }
  
  .terms-condition .slds-has-error .slds-form-element__help{
    position:absolute;
    top: 21px;
    left:0;
    width:100px;
  }
  /*end of PayNow*/

@media only screen and (max-width: 764px){
	.checkboxLayout {
        margin: 0px 0px 1.5rem 0px;
    }
}	 