:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  background: none;
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 66px;
  line-height: 69px;
  color: #0066b9;
}

.subHeader {
  background: none;
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
  margin-bottom: 32px;
}

.slds-accordion__section.slds-is-open .slds-accordion__summary {
  background: #0066b9;
}

.slds-accordion__summary-heading .slds-button:focus {
  text-decoration: none;
}

.slds-accordion__section.slds-is-open .accordionHeader {
  color: #ffffff;
}

.slds-accordion__list-item {
  border-top: none;
  border-bottom: 2px solid #0066b9;
}

.slds-accordion__summary {
  padding: 0;
}

.slds-accordion__summary-heading {
  padding: 16px;
  margin: auto;
}

.accordionHeader {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  color: #0066b9;
  margin-right: auto;
}

.accordionContent {
  padding: 16px 0 0;
  font-family: "ProximaNova";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
}

.rightColumn {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  margin-left: 32px;
  padding: 16px;
}

.durationTitle {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  color: #1c1c1c;
}

.durationValue {
  font-family: "ProximaNova";
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
}

.facilImage {
  border-radius: 50%;
  width: 214px;
  height: 214px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  background-color: #dbdbdb;
}

.facilName {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  color: #0066b9;
}

.facilBio {
  font-family: "ProximaNova";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
}

/* Mobile CSS */
@media screen and (max-width: 767px) {
  .rightColumn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    margin-left: 0;
    padding: 16px;
  }
}
