:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.heading1 {
  color: #0066b9;
}

.subHeader {
  background: none;
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
  margin-bottom: 32px;
}

.slds-accordion__section.slds-is-open .slds-accordion__summary {
  background: #0066b9;
}

.slds-accordion__summary-heading .slds-button:focus {
  text-decoration: none;
}

.slds-accordion__list-item {
  border-top: none;
  border-bottom: 2px solid #0066b9;
}

.slds-accordion__summary {
  padding: 0;
}

.slds-accordion__summary-heading {
  padding: 16px;
  margin: auto;
}

/*.accordionHeader {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  color: #0066b9;
  margin-right: auto;
}*/

.accordionContent {
  padding: 16px 0 0;
  font-family: "ProximaNova";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
}

/*.rightColumn {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  margin-left: 32px;
  padding: 16px;
}*/

.durationTitle {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  color: #1c1c1c;
}

.durationValue {
  font-family: "ProximaNova";
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
}

.facilImage {
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  background-color: #dbdbdb;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  
}

.facilName {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  color: #0066b9;
}

.facilBio {
  font-family: "ProximaNova";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
}

.slds-accordion__summary-content {
  min-width: 95%;
}


a.whatDoesLink{
    font-size: 12px;
    font-Weight: 400;
    line-height: 18px;
    color:#0066B9;
    position: absolute;
    left: 60px;
    top: 5px;
    text-decoration: underline;
    font-family: 'ProximaNova-Bold';
}

.clearBoth{
  clear: both;
}

/* Mobile CSS */
@media only screen and (max-width: 764px){
  .faci-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
  }

  .slds-m-right_x-large{
    margin-right: 0;
  }
}

/* Mobile CSS */
@media only screen and (min-width: 765px) and (max-width: 767px) {
  .rightColumn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    margin-left: 32px;
    padding: 16px;
  }

  .slds-medium-size_7-of-12, .slds-medium-size--7-of-12 {
    width: 58.3333333333%;
  }

  .slds-medium-size_4-of-12, .slds-medium-size--4-of-12 {
    width: 33.3333333333%;
  }
}


.slds-accordion__section.slds-is-open .accordionHeader {
  color: #ffffff !important;
}

.slds-accordion__section .accordionHeader {
  color: var(--main-color-blue500);
}

/*
.slds-is-open button[aria-expanded="true"] img{
  filter: brightness(0) invert(1);
  transform: rotate(45deg);
}
*/

.slds-is-open button[aria-expanded="true"] img{
  filter: brightness(0) invert(1);
  transform: rotate(45deg);
  width: 1.3rem;
  height: 1.3rem;
}


/*.slds-modal__footer {
  border-top-style: none !important;
}

.slds-modal__header{
  border-bottom-style: solid;
}*/

.aqModal .aq-modal {
  opacity: unset;
  visibility: visible;
}

.aq-modal {
  display: block; 
  position: fixed; 
  z-index: 10;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}

.aq-heading{
  font-style: normal;
  font-family: "ProximaNova-Bold";
  font-weight: 700;
  font-size: 44px;
  color: #0066B9;
  margin: 32px 0px;
}

.modal-content::-webkit-scrollbar{
  display: none;
}

.aq-modal-footer{
  background: #FFFFFF;  
  position: sticky;
  height: 112px;
  left: 0px;
  bottom: 0px;
}

.aq-cursor{
  cursor: pointer;
}

.aq-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.aq-button-save{
  min-width: 100%;
}

.image_container{
  width: 214px !important;
  text-align: center;
  height: 214px !important;
}

lightning-button-icon.slds-float_right button {
  height: 48px;
  width: 48px;
  border: 2px solid var(--main-color-blue500);
  color: var(--main-color-blue500);
}


/** Desktop */
@media only screen and (min-width: 765px){
  .faci-container{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: auto;
  }

  .mt2{
    margin-top: 0;
  }

  .slds-medium-size_5-of-12, .slds-medium-size--5-of-12 {
    width: 41.6666666667%;
  }

  .slds-medium-size_6-of-12, .slds-medium-size--6-of-12 {
    width: 50%;
  }
}

/* Tooltip container 
 .tooltip {
    position: relative;
    display: inline-block;
  }
*/
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color:midnightblue;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btnCCE button[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
  Background: #032d60;
  Color: #fff;
  font-weight: normal; 
  Font-size: 11px;
  border-radius: 4px;
  font-family: sans-serif;
  padding: 0.5rem 1rem;
}