:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/*.header {
  background: none;
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 66px;
  line-height: 69px;
  color: #0066b9;
}*/

.subHeader {
  background: none;
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
  margin-bottom: 32px;
}

.slds-accordion__section.slds-is-open .slds-accordion__summary {
  background: #0066b9;
}

.slds-accordion__summary-heading .slds-button:focus {
  text-decoration: none;
}

.slds-accordion__list-item {
  border-top: none;
  border-bottom: 2px solid #0066b9;
}

.slds-accordion__summary {
  padding: 0;
}

.slds-accordion__summary-heading {
  padding: 16px;
  margin: auto;
}

/*.accordionHeader {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  color: #0066b9;
  margin-right: auto;
}*/

.accordionContent {
  padding: 16px 0 0;
  font-family: "ProximaNova";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
}

/*.rightColumn {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  margin-left: 32px;
  padding: 16px;
}*/

.durationTitle {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  color: #1c1c1c;
}

.durationValue {
  font-family: "ProximaNova";
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
}

.facilImage {
  border-radius: 50%;
  width: 214px;
  height: 214px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  background-color: #dbdbdb;
}

.facilName {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  color: #0066b9;
}

.facilBio {
  font-family: "ProximaNova";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #1c1c1c;
}

.slds-accordion__summary-content {
  min-width: 98%;
}

/* Mobile CSS */
@media screen and (max-width: 767px) {
  .rightColumn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    margin-left: 32px;
    padding: 16px;
  }

}


.slds-accordion__section.slds-is-open .accordionHeader {
  color: #ffffff !important;
}

.slds-accordion__section .accordionHeader {
  color: var(--main-color-blue500);
}

/*
.slds-is-open button[aria-expanded="true"] img{
  filter: brightness(0) invert(1);
  transform: rotate(45deg);
}
*/

.slds-is-open button[aria-expanded="true"] img{
  filter: brightness(0) invert(1);
  transform: rotate(45deg);
  width: 1.3rem;
  height: 1.3rem;
}


/*.slds-modal__footer {
  border-top-style: none !important;
}

.slds-modal__header{
  border-bottom-style: solid;
}*/

.aqModal .aq-modal {
  opacity: unset;
  visibility: visible;
}

.aq-modal {
  display: block; 
  position: fixed; 
  z-index: 10;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}

.aq-heading{
  font-style: normal;
  font-family: "ProximaNova-Bold";
  font-weight: 700;
  font-size: 44px;
  color: #0066B9;
  margin: 32px 0px;
}

.modal-content::-webkit-scrollbar{
  display: none;
}

.aq-modal-footer{
  background: #FFFFFF;  
  position: sticky;
  height: 112px;
  left: 0px;
  bottom: 0px;
}

.aq-cursor{
  cursor: pointer;
}

.aq-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.aq-button-save{
  min-width: 100%;
}