.gray-text{
    color:gray;
}

.sf-blue-text{
    color:#0176d3;
}

.title-text{
    color:#003b6f;
    padding-top: 5px;
    padding-bottom: 5px;
}

.width-expanded{
    width: 100%;
}

.bottom-position{
    position: absolute;
    bottom: 0;
}

.relative-position{
    position: relative;
}