/*Customized*/
div.subnav-custom .submenu{
    display: flex;
    position: absolute;
    flex-shrink: 0;
    width: 100%;
    left: 0;
    top: 90px;
  }
  /*end of customization*/

  @media only screen and (max-width: 767px){
    div.subnav-custom{
      display: none;
    }
  }
