.box-header {
    background-color: rgb(242, 242, 242);
    margin: 0 20px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 2px;
    margin-bottom: 20px;
}

.btn-link-to-case {
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
}

.box-icon-work-plan {
    float: left;
    margin-right: 10px;
}

.box-viewall {
    text-align: center;
}
div.header-with-bg {
    background-color: var(--lwc-colorBackground);
  }