/* GLOBAL CSS Variables */
:root {
	/*Colours*/
	--main-color-blue900: #012A4C;
	--main-color-blue700: #124C7B;
	--main-color-blue500: #0066B9;
	--main-color-blue100: #EFF6FB;
	
	--sec-color-notification: #C7026F;
	--sec-color-highlights: #009FE3;
	--sec-color-covid-19: #EFCB43;
	
	--greys-color-bodytext: #1C1C1C;
	--greys-color-sectext: #616161;
	--greys-color-tableborder: #DBDBDB;
	--greys-color-grey100: #F5F5F5;
	--greys-color-white: #FFFFFF;
	
	--status-color-error: #B90015;
	--status-color-error100: #FAEDEF;
	--status-color-confirm: #124d01;
	--status-color-confirm100: #CBF0C0;
	--status-color-slow: #5C5103;
	--status-color-slow100: #F0EAC0;
	
	/*Font-size*/
	--dt-size-heading1: 4.125rem;
	--dt-size-heading2: 2.75rem;
	--dt-size-heading3: 1.938rem;
	--dt-size-heading4: 1.4375rem;
	--dt-size-heading5: 1.1875rem;
	--dt-size-heading6: 1rem;

	
	--mb-size-heading1: 2.5rem;
	--mb-size-heading2: 1.875rem;
	--mb-size-heading3: 1.5625rem;
  --mb-size-heading4: 1.438rem;
	
	/*line-height*/
	--dt-line-height-h1: 4.3125rem;
	--dt-line-height-h2: 2.9375rem;
	--dt-line-height-h3: 2.25rem;
	--dt-line-height-h4: 1.75rem;
	--dt-line-height-h5: 1.5rem;
	--dt-line-height-h6: 1.1rem;
	--dt-line-height-21: 1.313rem;
	
	
	--mb-line-height-h1: 2.5rem;
	--mb-line-height-h2: 2.0625rem;
	--mb-line-height-h3: 1.875rem;
	--mb-line-height-h4: 1.438rem;
	
	/*Margin and Padding*/
	--space-1: .5rem;
	--space-2: 1rem;
	--space-3: 2rem;
	--space-4: 4rem;
	--space-5: 1.313;
	
	
	
	/*Text Style*/
	--text-Bold: Bold;
	--text-Italic: italic;
	--text-normal: normal;

	/**Text weight */
	--text-weight-100:100;
	--text-weight-200:200;
	--text-weight-300:300;
	--text-weight-400:400;
	--text-weight-500:500;
	--text-weight-600:600;
	--text-weight-700:700;
	--text-weight-800:800;
	--text-weight-900:900;
	--text-weight-bold:bold;
	--text-weight-bolder:bolder;
	--text-weight-normal:normal;

	/*icon-size*/
	--icon-size-16: 16px;
	--icon-size-18: 18px;
	--icon-size-24: 24px;
	--icon-size-32: 32px;

	 /*text-size*/
	 --text-size-16: 1rem;
	 --text-size-18: 1.125rem;
	 --text-size-24: 1.5rem;
	 --text-size-32: 2rem; 

  }

  .siteforceB2bBody>.body.isPageWidthFixed-true
  {
    width: 1140px !important;
  }

  body{
    background: #fff !important;
  }

  .siteforceB2bBody{
    background: #ffffff !important;
    display: contents;
  }

 /*Footer*/
.b2bBodyWrapper .footer{
  background-color: var(--main-color-blue100);
}

.b2bBodyWrapper .footer .main-content{
  display: none;
}

body.comm-page-detail-01t .b2bBodyWrapper .footer .main-content{
  background-color: var(--main-color-blue100);
  display: block;
}
/*end of footer*/

/*end of Root*/
  
  /*Margins*/
  .m0  { margin:        0 }
  .mt0 { margin-top:    0 }
  .mr0 { margin-right:  0 }
  .mb0 { margin-bottom: 0 }
  .ml0 { margin-left:   0 }
  .mx0 { margin-left:   0; margin-right:  0 }
  .my0 { margin-top:    0; margin-bottom: 0 }

  .m1  { margin:        var(--space-1) }
  .mt1 { margin-top:    var(--space-1) }
  .mr1 { margin-right:  var(--space-1) }
  .mb1 { margin-bottom: var(--space-1) }
  .ml1 { margin-left:   var(--space-1) }
  .mx1 { margin-left:   var(--space-1); margin-right:  var(--space-1) }
  .my1 { margin-top:    var(--space-1); margin-bottom: var(--space-1) }

  .m2  { margin:        var(--space-2) }
  .mt2 { margin-top:    var(--space-2) }
  .mr2 { margin-right:  var(--space-2) }
  .mb2 { margin-bottom: var(--space-2) }
  .ml2 { margin-left:   var(--space-2) }
  .mx2 { margin-left:   var(--space-2); margin-right:  var(--space-2) }
  .my2 { margin-top:    var(--space-2); margin-bottom: var(--space-2) }

  .m3  { margin:        var(--space-3) }
  .mt3 { margin-top:    var(--space-3) }
  .mr3 { margin-right:  var(--space-3) }
  .mb3 { margin-bottom: var(--space-3) }
  .ml3 { margin-left:   var(--space-3) }
  .mx3 { margin-left:   var(--space-3); margin-right:  var(--space-3) }
  .my3 { margin-top:    var(--space-3); margin-bottom: var(--space-3) }

  .m4  { margin:        var(--space-4) }
  .mt4 { margin-top:    var(--space-4) }
  .mr4 { margin-right:  var(--space-4) }
  .mb4 { margin-bottom: var(--space-4) }
  .ml4 { margin-left:   var(--space-4) }
  .mx4 { margin-left:   var(--space-4); margin-right:  var(--space-4) }
  .my4 { margin-top:    var(--space-4); margin-bottom: var(--space-4) }

  .mxn1 { margin-left: -var(--space-1); margin-right: -var(--space-1); }
  .mxn2 { margin-left: -var(--space-2); margin-right: -var(--space-2); }
  .mxn3 { margin-left: -var(--space-3); margin-right: -var(--space-3); }
  .mxn4 { margin-left: -var(--space-4); margin-right: -var(--space-4); }

  .ml-auto { margin-left: auto }
  .mr-auto { margin-right: auto }
  .mx-auto { margin-left: auto; margin-right: auto; }
  /*end of margins*/
  
  /*Padding*/
  .p0  { padding: 0 }
  .pt0 { padding-top: 0 }
  .pr0 { padding-right: 0 }
  .pb0 { padding-bottom: 0 }
  .pl0 { padding-left: 0 }
  .px0 { padding-left: 0; padding-right:  0 }
  .py0 { padding-top: 0;  padding-bottom: 0 }

  .p1  { padding:        var(--space-1) }
  .pt1 { padding-top:    var(--space-1) }
  .pr1 { padding-right:  var(--space-1) }
  .pb1 { padding-bottom: var(--space-1) }
  .pl1 { padding-left:   var(--space-1) }
  .py1 { padding-top:    var(--space-1); padding-bottom: var(--space-1) }
  .px1 { padding-left:   var(--space-1); padding-right:  var(--space-1) }

  .p2  { padding:        var(--space-2) }
  .pt2 { padding-top:    var(--space-2) }
  .pr2 { padding-right:  var(--space-2) }
  .pb2 { padding-bottom: var(--space-2) }
  .pl2 { padding-left:   var(--space-2) }
  .py2 { padding-top:    var(--space-2); padding-bottom: var(--space-2) }
  .px2 { padding-left:   var(--space-2); padding-right:  var(--space-2) }

  .p3  { padding:        var(--space-3) }
  .pt3 { padding-top:    var(--space-3) }
  .pr3 { padding-right:  var(--space-3) }
  .pb3 { padding-bottom: var(--space-3) }
  .pl3 { padding-left:   var(--space-3) }
  .py3 { padding-top:    var(--space-3); padding-bottom: var(--space-3) }
  .px3 { padding-left:   var(--space-3); padding-right:  var(--space-3) }

  .p4  { padding:        var(--space-4) }
  .pt4 { padding-top:    var(--space-4) }
  .pr4 { padding-right:  var(--space-4) }
  .pb4 { padding-bottom: var(--space-4) }
  .pl4 { padding-left:   var(--space-4) }
  .py4 { padding-top:    var(--space-4); padding-bottom: var(--space-4) }
  .px4 { padding-left:   var(--space-4); padding-right:  var(--space-4) }
  /*End of Padding*/

  .headerColor{
	  color: var(--main-color-blue500)
  }
  
  .bodyRegular{
	  font-family: "ProximaNova" !important;
	  font-size: var(--text-size-18);
	  line-height: 1.3125rem;
	  font-style: var(--text-normal);
	  font-weight: var(--text-weight-400);
  }

  .bodyBold{
	  font-family: "ProximaNova-Bold";
	  font-size: var(--text-size-18);
	  line-height: 1.3125rem;
	  font-style: var(--text-normal);
	  font-weight: var(--text-weight-700);
  }

  .disclaimer{
	  font-family: "ProximaNova";
	  font-size: var(--text-size-12);
	  line-height: 1.3125rem;
	  font-style: var(--text-normal);
	  font-weight: var(--text-weight-400);
  }

  /** Icon size */
  .icon-16{ 
	  font-size: var(--icon-size-16);
  }
  .icon-24{
	  font-size: var(--icon-size-16);
  }
  .icon-32{
	  font-size: var(--icon-size-16);
  }

  /** Colors **/
  .main-color-blue900{
    color: var(--main-color-blue900);
  }

  .main-color-blue700{
    color: var(--main-color-blue700);
  }

  .main-color-blue500{
    color: var(--main-color-blue500) !important;
  }
  
  .main-color-blue100{
    color: var(--main-color-blue100);
  }

  .main-color-black{
    color: var(--greys-color-bodytext);
  }

  .main-color-white{
    color: var(--greys-color-white) !important;
  }
  
/**************************************************** FOUNDATIONS ****************************************************/
/** Links*/
a.colored{
  color: var(--main-color-blue500) !important;
  text-decoration: underline !important;
}

a.colored:hover{
  color: var(--main-color-blue700) !important;
  text-decoration: none !important;
}

a.reversed{
  color: var(--greys-color-white) !important;
  text-decoration: underline !important;
}

a.reversed:hover{
  color: var(--greys-color-white) !important;
  text-decoration: none !important;
}
    
/**************************************************** COMPONENTTS ****************************************************/

/** CARDS **/
.tooltip .slds-form-element__icon{
	position: absolute;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
}

.tooltip .slds-form-element__icon button{
    width:100%;
}

.tooltip .slds-form-element__icon button svg{
  display: none;
}


[c-productcard_productcard] lightning-badge.pills,
[c-productcard_productcard] .pills{
  width: fit-content;
  height: 37px;
  background: var(--greys-color-grey100);
  border-radius: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  font-family: "ProximaNova";
  font-size: var(--text-size-18);
  line-height: 1.3125rem;
  font-style: var(--text-normal);
  font-weight: var(--text-weight-400);
}

[c-productcard_productcard].pills-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

/**Timeline**/
[c-productdetailsdisplay_productdetailsdisplay].slds-progress__marker,
[c-prescribedprograminternal_prescribedprograminternal].slds-progress__marker,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-progress__marker {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  border: 3px solid #0066b9;
  vertical-align: middle;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-timeline__item_expandable:before,
[c-prescribedprograminternal_prescribedprograminternal].slds-timeline__item_expandable:before,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-timeline__item_expandable:before {
  content: "";
  background: #0066b9;
  height: 100%;
  width: 2px solid #0066b9;
  position: absolute;
  left: 12.3%;
  top: 0;
  bottom: 0;
  margin-left: 1px;
}


/** CHECKBOX **/
[c-productdetailsdisplay_productdetailsdisplay].slds-checkbox [type=checkbox]:checked,
[c-prescribedprograminternal_prescribedprograminternal].slds-checkbox [type=checkbox]:checked,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-checkbox [type=checkbox]:checked,
[c-productdetailsdisplay_productdetailsdisplay].slds-checkbox_faux:after,
[c-prescribedprograminternal_prescribedprograminternal].slds-checkbox_faux:after,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-checkbox_faux:after,
[c-productdetailsdisplay_productdetailsdisplay].slds-checkbox_faux:focus,
[c-prescribedprograminternal_prescribedprograminternal].slds-checkbox_faux:focus,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-checkbox_faux:focus{
  border-width: var(--lwc-borderWidthThin,2px);
} 

[c-productdetailsdisplay_productdetailsdisplay].slds-listbox_vertical .slds-listbox__option:hover,
[c-prescribedprograminternal_prescribedprograminternal].slds-listbox_vertical .slds-listbox__option:hover,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-listbox_vertical .slds-listbox__option:hover{
  background: var(--greys-color-grey100);
  text-decoration: none;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-checkbox .slds-checkbox_faux, 
[c-prescribedprograminternal_prescribedprograminternal].slds-checkbox .slds-checkbox_faux, 
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-checkbox .slds-checkbox_faux, 
[c-productdetailsdisplay_productdetailsdisplay].slds-checkbox .slds-checkbox--faux,
[c-prescribedprograminternal_prescribedprograminternal].slds-checkbox .slds-checkbox--faux,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-checkbox .slds-checkbox--faux {
  width: var(--lwc-squareIconMediumContent,1rem);
  height: var(--lwc-squareIconMediumContent,1rem);
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  vertical-align: middle;
  border-radius: var(--slds-c-checkbox-radius-border, var(--sds-c-checkbox-radius-border, var(--lwc-borderRadiusSmall,0.125rem)));
  border-width: var(--lwc-borderWidthThin,1px);
  border-style: solid;
  border-color: var(--main-color-blue500);
  background-color: var(--slds-c-checkbox-color-background, var(--sds-c-checkbox-color-background, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))));
  box-shadow: var(--slds-c-checkbox-shadow, var(--sds-c-checkbox-shadow));
  transition: border var(--lwc-durationQuickly,0.1s) linear,background-color var(--lwc-durationQuickly,0.1s) linear;
}
/** DATE PICKER **/


/**Dropdown -standard label*/
[c-productdetailsdisplay_productdetailsdisplay].label-text,
[c-prescribedprograminternal_prescribedprograminternal].label-text,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].label-text {
  font-weight: 700;
  color: red;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-listbox__option .slds-truncate,
[c-prescribedprograminternal_prescribedprograminternal].slds-listbox__option .slds-truncate,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-listbox__option .slds-truncate {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 1.75rem;
  color: var(--greys-color-bodytext);
}

[c-productdetailsdisplay_productdetailsdisplay].slds-listbox__option-text--entity,
[c-prescribedprograminternal_prescribedprograminternal].slds-listbox__option-text--entity,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-listbox__option-text--entity {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem !important;
  line-height: 1.3125rem;
  color: var(--status-color-error);
}


/** ACCORDION **/

[c-productSection_productSection].slds-accordion__summary,
[c-productdetailsdisplay_productdetailsdisplay].slds-accordion__summary,
[c-prescribedprograminternal_prescribedprograminternal].slds-accordion__summary,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-accordion__summary{
  margin-left: 0px  !important;
  margin-right: 0px  !important;
} 
  
[c-productdetailsdisplay_productdetailsdisplay].slds-accordion__section,
[c-productSection_productSection].slds-accordion__section,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-accordion__section{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/** Closed **/
[c-productdetailsdisplay_productdetailsdisplay].slds-accordion__summary-heading,
[c-productSection_productSection].slds-accordion__summary-heading,
[c-prescribedprograminternal_prescribedprograminternal].slds-accordion__summary-heading,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-accordion__summary-heading {
 /* padding: 16px;*/
  margin: auto;
}

/** Expanded **/
[c-productdetailsdisplay_productdetailsdisplay].slds-accordion__section.slds-is-open .slds-accordion__summary,
[c-productSection_productSection].slds-accordion__section.slds-is-open .slds-accordion__summary,
[c-prescribedprograminternal_prescribedprograminternal].slds-accordion__section.slds-is-open .slds-accordion__summary,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-accordion__section.slds-is-open .slds-accordion__summary{
  background: var(--main-color-blue500);
  border-radius: 0;

}

[c-productdetailsdisplay_productdetailsdisplay].slds-accordion__section.slds-is-open .accordionHeader,
[c-productSection_productSection].slds-accordion__section.slds-is-open .accordionHeader,
[c-prescribedprograminternal_prescribedprograminternal].slds-accordion__section.slds-is-open .accordionHeader,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-accordion__section.slds-is-open .accordionHeader {
  color: #ffffff !important
}

[c-productdetailsdisplay_productdetailsdisplay].slds-accordion__summary-content .heading4,
[c-productSection_productSection].slds-accordion__summary-content .heading4,
[c-prescribedprograminternal_prescribedprograminternal].slds-accordion__summary-content .heading4,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-accordion__summary-content .heading4{
  margin-right: auto;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-accordion__summary-heading .slds-button:focus,
[c-productSection_productSection].slds-accordion__summary-heading .slds-button:focus,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-accordion__summary-heading .slds-button:focus {
  text-decoration: none;
}

[c-productdetailsdisplay_productdetailsdisplay] img.slds-accordion__summary-action-icon,
[c-productSection_productSection] img.slds-accordion__summary-action-icon,
[c-prescribedprograminternal_prescribedprograminternal] img.slds-accordion__summary-action-icon,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal] img.slds-accordion__summary-action-icon{
  width: 1.3rem;
  height: 1.3rem;;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-accordion__content,
[c-productSection_productSection].slds-accordion__content,
[c-prescribedprograminternal_prescribedprograminternal].slds-accordion__content,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-accordion__content{
  font-family: "ProximaNova";
  font-size: var(--text-size-18);
  font-weight: var(--text-weight-400);
  line-height: 1.3125rem;
  color: var(--greys-color-bodytext);
  padding: 1rem 0 !important
}

.slds-accordion__summary[c-productdetailsdisplay_productdetailsdisplay],
.slds-accordion__summary[c-prescribedprograminternal_prescribedprograminternal],
.slds-accordion__summary[c-productdetailsdisplayinternal_productdetailsdisplayinternal] {
  padding: 0 !important
}

.slds-accordion__section[c-productdetailsdisplay_productdetailsdisplay],
.slds-accordion__section[c-prescribedprograminternal_prescribedprograminternal],
.slds-accordion__section[c-productdetailsdisplayinternal_productdetailsdisplayinternal], 
.accordionHeader[c-prescribedprograminternal_prescribedprograminternal],
.accordionHeader[c-productdetailsdisplayinternal_productdetailsdisplayinternal],
.accordionHeader[c-productdetailsdisplay_productdetailsdisplay]{
  color: #0066B9;
}

/** ALERT MESSAGE **/
[c-productdetailsdisplay_productdetailsdisplay].slds-theme_success, .slds-theme--success,
[c-prescribedprograminternal_prescribedprograminternal].slds-theme_success, .slds-theme--success,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-theme_success, .slds-theme--success {
  color: var(--status-color-confirm);
  background-color: var(--status-color-confirm100);
  border-radius: 0;
  border: 2px solid var(--status-color-confirm);
}

[c-productdetailsdisplay_productdetailsdisplay].slds-text-heading--small,
[c-prescribedprograminternal_prescribedprograminternal].slds-text-heading--small,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-text-heading--small {
  font-size: var(--text-size-18);
  line-height: 1.3125rem;
}

[c-productdetailsdisplay_productdetailsdisplay]span.toastMessage.forceActionsText,
[c-prescribedprograminternal_prescribedprograminternal]span.toastMessage.forceActionsText,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal]span.toastMessage.forceActionsText{
  font-size: var(--text-size-18);
  line-height: 1.3125rem;
  /*color: var(--status-color-confirm);*/

}
[c-productdetailsdisplay_productdetailsdisplay].forceCommunityToastManager .slds-theme--success .toastContent,
[c-prescribedprograminternal_prescribedprograminternal].forceCommunityToastManager .slds-theme--success .toastContent,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].forceCommunityToastManager .slds-theme--success .toastContent {
  color: var(--status-color-confirm);
}

[c-productdetailsdisplay_productdetailsdisplay].toastTitle,
[c-prescribedprograminternal_prescribedprograminternal].toastTitle,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].toastTitle{
  display: none;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-theme_success button, .slds-theme--success button:focus,
[c-prescribedprograminternal_prescribedprograminternal].slds-theme_success button, .slds-theme--success button:focus,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-theme_success button, .slds-theme--success button:focus{
  fill: var(--status-color-confirm);
  color: var(--status-color-confirm);
  outline: none;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-icon-utility-success.toastIcon .slds-icon,
[c-prescribedprograminternal_prescribedprograminternal].slds-icon-utility-success.toastIcon .slds-icon,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-icon-utility-success.toastIcon .slds-icon {
  fill: var(--status-color-confirm);
}

[c-productdetailsdisplay_productdetailsdisplay].slds-theme_success button, .slds-theme--success button,
[c-prescribedprograminternal_prescribedprograminternal].slds-theme_success button, .slds-theme--success button,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-theme_success button, .slds-theme--success button {
  color: var(--status-color-confirm);
  text-decoration: underline;
}

/** ERROR **/

[c-productdetailsdisplay_productdetailsdisplay].slds-theme_warning, .slds-theme--warning,
[c-prescribedprograminternal_prescribedprograminternal].slds-theme_warning, .slds-theme--warning,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-theme_warning, .slds-theme--warning {
  background-color: var(--status-color-error100);
  color: var(--status-color-error);
  border-radius: 0;
  border: 2px solid var(--status-color-error);
}

[c-productdetailsdisplay_productdetailsdisplay].forceCommunityToastManager .slds-theme--warning .toastContent,
[c-prescribedprograminternal_prescribedprograminternal].forceCommunityToastManager .slds-theme--warning .toastContent,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].forceCommunityToastManager .slds-theme--warning .toastContent {
  color: var(--status-color-error);
}

[c-productdetailsdisplay_productdetailsdisplay].slds-theme_warning button, .slds-theme--warning button,
[c-prescribedprograminternal_prescribedprograminternal].slds-theme_warning button, .slds-theme--warning button,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-theme_warning button, .slds-theme--warning button {
  color: var(--status-color-error);
  text-decoration: underline;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-theme_warnining button, .slds-theme--warning button:focus,
[c-prescribedprograminternal_prescribedprograminternal].slds-theme_warnining button, .slds-theme--warning button:focus,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-theme_warnining button, .slds-theme--warning button:focus{
  fill: var(--status-color-error);
  color: var(--status-color-error);
  outline: none;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-theme_warning .slds-icon, .slds-theme_warning .slds-button__icon, .slds-theme--warning .slds-icon, .slds-theme--warning .slds-button__icon,
[c-prescribedprograminternal_prescribedprograminternal].slds-theme_warning .slds-icon, .slds-theme_warning .slds-button__icon, .slds-theme--warning .slds-icon, .slds-theme--warning .slds-button__icon,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-theme_warning .slds-icon, .slds-theme_warning .slds-button__icon, .slds-theme--warning .slds-icon, .slds-theme--warning .slds-button__icon {
  fill: var(--status-color-error);
}

/*** BADGE **/
[c-productdetailsdisplay_productdetailsdisplay].slds-notification-badge[b2b_buyer_cart-badge_badge],
[c-prescribedprograminternal_prescribedprograminternal].slds-notification-badge[b2b_buyer_cart-badge_badge],
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-notification-badge[b2b_buyer_cart-badge_badge] {
  background: var(--sec-color-notification) !important;
  color: var(--main-color-blue100);
}

[c-productdetailsdisplay_productdetailsdisplay]svg[b2b_buyer_cart-badge_badge],
[c-prescribedprograminternal_prescribedprograminternal]svg[b2b_buyer_cart-badge_badge],
[c-productdetailsdisplayinternal_productdetailsdisplayinternal]svg[b2b_buyer_cart-badge_badge] {
  fill: var(--main-color-blue500) !important;
}

/** CTA Buttons**/
[c-productdetailsdisplay_productdetailsdisplay].slds-input,
[c-productdetailsdisplay_productdetailsdisplay].input-text-area,
[c-productdetailsdisplay_productdetailsdisplay].slds-checkbox [type=checkbox],
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-input,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].input-text-area,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-checkbox [type=checkbox],
[c-prescribedprograminternal_prescribedprograminternal].slds-input,
[c-prescribedprograminternal_prescribedprograminternal].input-text-area,
[c-prescribedprograminternal_prescribedprograminternal].slds-checkbox [type=checkbox] {
  border-radius: 0 !important;
}

[c-productdetailsdisplay_productdetailsdisplay]button.slds-button,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal]button.slds-button,
[c-prescribedprograminternal_prescribedprograminternal]button.slds-button{
  height: 3rem;
  width: auto;
  border-radius: 0;
  font-family: "ProximaNova-Bold";
  font-weight: var(--text-weight-700);
  font-size: var(--text-size-18);
  line-height: 1.3125rem;
}

/** Primary **/
[c-productdetailsdisplay_productdetailsdisplay]button.slds-button.slds-button_brand,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal]button.slds-button.slds-button_brand,
[c-prescribedprograminternal_prescribedprograminternal]button.slds-button.slds-button_brand{
  background-color: var(--main-color-blue500);
  border: 2px solid var(--main-color-blue500);
  color: var(--greys-color-white);
}

[c-productdetailsdisplay_productdetailsdisplay]button.slds-button.slds-button_brand:hover,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal]button.slds-button.slds-button_brand:hover,
[c-prescribedprograminternal_prescribedprograminternal]button.slds-button.slds-button_brand:hover {
  background-color: var(--main-color-blue700);
  border: 2px solid var(--main-color-blue700);
  color: var(--greys-color-white);
}

[c-productdetailsdisplay_productdetailsdisplay]button.slds-button.slds-button_brand:disabled,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal]button.slds-button.slds-button_brand:disabled,
[c-prescribedprograminternal_prescribedprograminternal]button.slds-button.slds-button_brand:disabled {
  background-color: var(--greys-color-tableborder);
  border: 2px solid var(--greys-color-tableborder);
  color: var(--greys-color-bodytext);
}
[c-productdetailsdisplay_productdetailsdisplay]button.slds-button.slds-button_brand:disabled svg,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal]button.slds-button.slds-button_brand:disabled svg,
[c-prescribedprograminternal_prescribedprograminternal]button.slds-button.slds-button_brand:disabled svg{
   fill: var(--greys-color-bodytext);
}

/**Secondary **/
[c-productdetailsdisplay_productdetailsdisplay]button.slds-button.slds-button_outline-brand,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal]button.slds-button.slds-button_outline-brand,
[c-prescribedprograminternal_prescribedprograminternal]button.slds-button.slds-button_outline-brand {
 background-color: var(--greys-color-white);
 border: 2px solid var(--main-color-blue500);
 color: var(--main-color-blue500);
}

[c-productdetailsdisplay_productdetailsdisplay]button.slds-button.slds-button_outline-brand:hover,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal]button.slds-button.slds-button_outline-brand:hover,
[c-prescribedprograminternal_prescribedprograminternal]button.slds-button.slds-button_outline-brand:hover {
  background-color: var(--greys-color-white);
  border: 2px solid var(--main-color-blue700);
  color: var(--main-color-blue700);
}

[c-productdetailsdisplay_productdetailsdisplay]button.slds-button.slds-button_outline-brand:disabled,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal]button.slds-button.slds-button_outline-brand:disabled,
[c-prescribedprograminternal_prescribedprograminternal]button.slds-button.slds-button_outline-brand:disabled {
  background-color: var(--greys-color-white);
  border: 2px solid var(--greys-color-sectext);
  color: var(--greys-color-sectext);
}

[c-productdetailsdisplay_productdetailsdisplay].addToCartBtn button.slds-button.slds-button_brand:disabled,
[c-prescribedprograminternal_prescribedprograminternal].addToCartBtn button.slds-button.slds-button_brand:disabled,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].addToCartBtn button.slds-button.slds-button_brand:disabled {
  background: #dbdbdb;
  color: #1c1c1c;
  border-radius: 0;
}


/** CARDS **/
[c-productdetailsdisplay_productdetailsdisplay].cards,
[c-prescribedprograminternal_prescribedprograminternal].cards,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].cards {
  background: var(--greys-color-white);
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}


[c-productdetailsdisplay_productdetailsdisplay].text-card,
[c-prescribedprograminternal_prescribedprograminternal].text-card,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].text-card{
  background: var(--greys-color-white);
  border-radius: 0;
  border: 1px solid var(--greys-color-tableborder);
  box-sizing: border-box;
}


[c-productdetailsdisplay_productdetailsdisplay].text-card:hover,
[c-prescribedprograminternal_prescribedprograminternal].text-card:hover,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].text-card:hover{
  background: var(--main-color-blue500);
  border: 1px solid var(--main-color-blue700);
  box-sizing: border-box;
}


.fields-area{
  background-color: var(--main-color-blue500);
  color:var(--greys-color-white);
  padding: 1.25rem;
  border: 1px solid var(--main-color-blue500);
}

[c-productdetailsdisplay_productdetailsdisplay].card-title .heading3,
[c-prescribedprograminternal_prescribedprograminternal].card-title .heading3,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].card-title .heading3{
  color:var(--greys-color-white) !important;
}


[c-productdetailsdisplay_productdetailsdisplay].card-layout-grid,
[c-prescribedprograminternal_prescribedprograminternal].card-layout-grid,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].card-layout-grid{
  border: 1px solid var(--main-color-blue500);
  border-radius: 0;
}

[c-productdetailsdisplay_productdetailsdisplay].card-layout-grid:hover,
[c-prescribedprograminternal_prescribedprograminternal].card-layout-grid:hover,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].card-layout-grid:hover{
  border: 3px solid var(--main-color-blue500);
  border-radius: 0;
}

[c-productdetailsdisplay_productdetailsdisplay].card-contents .bodyRegular,
[c-prescribedprograminternal_prescribedprograminternal].card-contents .bodyRegular,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].card-contents .bodyRegular{
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  position: relative;
  min-height: 150px;
  text-align: left;
}


/** Text Field **/
[c-productdetailsdisplay_productdetailsdisplay].label-text,
[c-productdetailsdisplay_productdetailsdisplay].slds-form-element__label,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].label-text,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-form-element__label,
[c-prescribedprograminternal_prescribedprograminternal].slds-form-element__label,
[c-prescribedprograminternal_prescribedprograminternal].label-text {
  font-family: "ProximaNova-Bold";
  font-size: var(--text-size-18) !important;
  font-style: var(--text-normal);
  font-weight: var(--text-weight-700);
  line-height: 1.3125rem;
  color: var(--greys-color-bodytext);
}

[c-productdetailsdisplay_productdetailsdisplay].slds-input,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-input,
[c-prescribedprograminternal_prescribedprograminternal].slds-input{
  border: 1px solid var(--main-color-blue500) !important;
  height: 3rem;
  border-radius: 0;
}   

[c-productdetailsdisplay_productdetailsdisplay].slds-input:focus,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-input:focus,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-combobox__input:focus,
[c-prescribedprograminternal_prescribedprograminternal].slds-input:focus,
[c-prescribedprograminternal_prescribedprograminternal].slds-combobox__input:focus
{
  border:4px solid var(--main-color-blue500) !important;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-textarea, .input-text-area,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-textarea, .input-text-area,
[c-prescribedprograminternal_prescribedprograminternal].slds-textarea, .input-text-area {
  border: 1px solid var(--main-color-blue500) !important;
  border-radius: 0;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-textarea:focus, .input-text-area:focus,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-textarea:focus, .input-text-area:focus,
[c-prescribedprograminternal_prescribedprograminternal].slds-textarea:focus, .input-text-area:focus {
  border: 3px solid var(--main-color-blue500) !important;
}

[c-productdetailsdisplay_productdetailsdisplay].slds-icon-text-warning,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-icon-text-warning,
[c-prescribedprograminternal_prescribedprograminternal].slds-icon-text-warning {
  --slds-c-icon-color-foreground: var(--status-color-error) !important;
}

/** MODALS **/
[c-productdetailsdisplay_productdetailsdisplay].modal-content,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].modal-content,
[c-prescribedprograminternal_prescribedprograminternal].modal-content {
  background-color: var(--greys-color-white);
  margin: auto;
  border: 1px solid #888;
  width: auto;
  height: 100%;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "ProximaNova";
  overflow-y: scroll;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.uiModal--horizontalForm .modal-container{
  width: 80% !important;
  max-width: 80rem !important;
  min-width: 40rem !important;
}

.slds-modal__content[c-showpreview_showpreview] {
  max-height: 25rem !important;
}

/** END MODALS **/

/** Pagination **/
[c-productdetailsdisplay_productdetailsdisplay].btn-pagination button,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].btn-pagination button,
[c-prescribedprograminternal_prescribedprograminternal].btn-pagination button{
  width: 3rem !important;
  height: 3rem !important;
}

[c-productdetailsdisplay_productdetailsdisplay].btn-pagination button.slds-button_icon-brand,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].btn-pagination button.slds-button_icon-brand,
[c-prescribedprograminternal_prescribedprograminternal].btn-pagination button.slds-button_icon-brand {
  background-color: var(--greys-color-white);
  border-color: var(--greys-color-tableborder);
  color: var(--greys-color-bodytext);
}

[c-productdetailsdisplay_productdetailsdisplay].btn-pagination button.slds-button_icon-brand[disabled],
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].btn-pagination button.slds-button_icon-brand[disabled],
[c-prescribedprograminternal_prescribedprograminternal].btn-pagination button.slds-button_icon-brand[disabled] {
  background-color: var(--greys-color-grey100);
  border-color: var(--greys-color-tableborder);
  color: var(--greys-color-bodytext);
}

[c-productdetailsdisplay_productdetailsdisplay].btn-pagination button.slds-button_icon-brand:hover,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].btn-pagination button.slds-button_icon-brand:hover,
[c-prescribedprograminternal_prescribedprograminternal].btn-pagination button.slds-button_icon-brand:hover {
  background-color: var(--greys-color-white);
  border-color: var(--greys-color-tableborder);
  color: var(--greys-color-bodytext);
}

[c-productdetailsdisplay_productdetailsdisplay].btn-pagination button.slds-button_icon-brand:active,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].btn-pagination button.slds-button_icon-brand:active,
[c-prescribedprograminternal_prescribedprograminternal].btn-pagination button.slds-button_icon-brand:active {
  background-color: var(--greys-color-grey100);
  border-color: var(--greys-color-tableborder);
  color: var(--greys-color-bodytext);
}

[c-productdetailsdisplay_productdetailsdisplay].btn-pagination button.slds-button.slds-button_neutral,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].btn-pagination button.slds-button.slds-button_neutral,
[c-prescribedprograminternal_prescribedprograminternal].btn-pagination button.slds-button.slds-button_neutral {
  background-color: var(--greys-color-tableborder);
  border-color: var(--greys-color-tableborder);
  color: var(--greys-color-bodytext);
  border: 1px solid var(--greys-color-tableborder);
}

[c-productdetailsdisplay_productdetailsdisplay].paginator button.slds-button,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].paginator button.slds-button,
[c-prescribedprograminternal_prescribedprograminternal].paginator button.slds-button{
  width: 48px !important;
  border-right: 0px solid #ccc;
}

[c-productdetailsdisplay_productdetailsdisplay].paginator button.slds-button.slds-button_neutral,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].paginator button.slds-button.slds-button_neutral,
[c-prescribedprograminternal_prescribedprograminternal].paginator button.slds-button.slds-button_neutral {
  color: var(--greys-color-bodytext);
}

[c-productdetailsdisplay_productdetailsdisplay].paginator button.slds-button.slds-button_neutral:hover,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].paginator button.slds-button.slds-button_neutral:hover,
[c-prescribedprograminternal_prescribedprograminternal].paginator button.slds-button.slds-button_neutral:hover{
  background: var(--greys-color-tableborder);
}

[c-productdetailsdisplay_productdetailsdisplay].paginator .btn-pagination:last-child,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].paginator .btn-pagination:last-child,
[c-prescribedprograminternal_prescribedprograminternal].paginator .btn-pagination:last-child{
  border-right: 1px solid var(--greys-color-tableborder);
}

[c-productdetailsdisplay_productdetailsdisplay].btn-pagination button.slds-button_icon-brand[disabled]:last-child,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].btn-pagination button.slds-button_icon-brand[disabled]:last-child,
[c-prescribedprograminternal_prescribedprograminternal].btn-pagination button.slds-button_icon-brand[disabled]:last-child {
  border-top: 1px solid var(--greys-color-tableborder);
  border-bottom: 1px solid var(--greys-color-tableborder);
  border-left: 1px solid var(--greys-color-tableborder);
}

[c-productdetailsdisplay_productdetailsdisplay].btn-pagination button.slds-button.slds-button_neutral:hover,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].btn-pagination button.slds-button.slds-button_neutral:hover,
[c-prescribedprograminternal_prescribedprograminternal].btn-pagination button.slds-button.slds-button_neutral:hover {
  background-color: var(--greys-color-white);
  border-color: var(--greys-color-tableborder);
  color: var(--greys-color-bodytext);
}

/*************************** CUSTOM CODE *******************************/

/*Grids*/
[c-productdetailsdisplay_productdetailsdisplay].ul.layout-grid li,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].ul.layout-grid li,
[c-prescribedprograminternal_prescribedprograminternal].ul.layout-grid li{
	  display: grid !important;
    flex-basis: 100% !important;
    border-color: transparent !important;
    min-height: 13rem !important;
}
/*end of Grids*/

/*Produt List*/
.layout-card article.card-layout-grid .fields-area[c-searchCard_searchCard]
{
	background-color: var(--main-color-blue500);
	font-size: var(--dt-size-heading3);
}

[c-productdetailsdisplay_productdetailsdisplay].layout-card article.card-layout-grid .slds-grid section,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].layout-card article.card-layout-grid .slds-grid section,
[c-prescribedprograminternal_prescribedprograminternal].layout-card article.card-layout-grid .slds-grid section {
	padding: var(--space-5);
}
/*end of Produt List*/

/** DROPDOWN **/
[c-productdetailsdisplay_productdetailsdisplay] .slds-combobox,
[c-prescribedprograminternal_prescribedprograminternal] .slds-combobox,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal] .slds-combobox{
    height: 3rem;
    box-sizing: border-box;
    width: 100%;
    min-height: 3rem;
    line-height: 1.3125rem;
}
[c-productdetailsdisplay_productdetailsdisplay] .slds-dropdown,
[c-prescribedprograminternal_prescribedprograminternal] .slds-dropdown,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal] .slds-dropdown{
    color: var(--greys-color-bodytext);
    font-size: 1.125rem;
    line-height: 1.3125rem;
}
[c-productdetailsdisplay_productdetailsdisplay] ::selection,
[c-prescribedprograminternal_prescribedprograminternal] ::selection,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal] ::selection {
    background: var(--greys-color-grey100);
    text-shadow: none;
    color: var(--greys-color-bodytext);
}

/**************COMBOBOX*****************************/
/*Multiselect and combobox*/
div[c-customcombobox_customcombobox] .slds-combobox__input,
div[c-customcomboboxmulti_customcomboboxmulti] .slds-picklist input[readonly],
div[c-customcombobox_customcombobox] .slds-combobox input[readonly]
	{
		border-color: var(--main-color-blue500);
		background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));
		font-size: var(--icon-size-18);
		font-weight: var(--text-normal);
		border-radius: 0px;
		height:47px;
	}

[c-productdetailsdisplay_productdetailsdisplay].slds-dropdown-trigger:focus-visible,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-dropdown-trigger:focus-visible,
[c-prescribedprograminternal_prescribedprograminternal].slds-dropdown-trigger:focus-visible,
	input[c-customcomboboxmulti_customcomboboxmulti]:focus-visible,
	div[c-customcombobox_customcombobox] .slds-combobox input[readonly]:focus{
		outline: 2px solid var(--sec-color-highlights);
	}

	div[c-customcomboboxmulti_customcomboboxmulti] label.slds-form-element__label,
	div[c-customcombobox_customcombobox] .slds-form-element__label
	{
		font-size: var(--icon-size-18);
		font-weight: var(--text-Bold);
		color: var(--greys-color-bodytext);
		font-family: "ProximaNova-Bold";
	}

	div[c-customcombobox_customcombobox] [role=combobox] input[disabled]{
		border-color: var(--greys-color-tableborder);
		background-color: var(--greys-color-grey100);
		font-size: var(--icon-size-18);
		font-weight: var(--text-normal);
		border-radius: 0px;
		height:47px;
	}


span[c-customcomboboxmulti_customcomboboxmulti].multi-select-combobox__icon,
span[c-customcombobox_customcombobox].slds-input__icon{
	
    margin-top: -22px;
    height: 92%;
    right: 2px;
    width: 40px;
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
    border-radius: 0px;
	background: var(--main-color-blue100);
}


/*for disabled dropdown date | Price*/
[c-customcombobox_customcombobox] input[disabled] + div.comboBoxIconClose span[c-customcombobox_customcombobox].slds-input__icon {
	  margin-top: -22px;
    height: 92%;
	  right: 2px;
    width: 40px;
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
    border-radius: 0px;
	background: var(--greys-color-tableborder);
}



[c-customcomboboxmulti_customcomboboxmulti].slds-icon-utility-chevrondown,
[c-customcomboboxmulti_customcomboboxmulti].slds-icon-utility-chevronup,
[c-customcombobox_customcombobox].slds-icon-utility-chevrondown,
[c-customcombobox_customcombobox].slds-icon-utility-chevronup
{
	margin-top: 14px;
}

div[c-customcomboboxmulti_customcomboboxmulti].slds-is-open .slds-icon,
div[c-customcombobox_customcombobox].slds-is-open .slds-icon
{
	stroke: #FFFFFF;
	fill: #FFFFFF;	
}

/*multiselect checkbox*/
[c-customcomboboxmulti_customcomboboxmulti] .slds-media_small .slds-media__figure{
	border: 1px solid var(--main-color-blue500) ;
	border-radius: 0px;
	padding: 0px;
	position: relative;
	width: 20px;
	height: 20px;
	margin-top: 4px;
}

div[c-customcomboboxmulti_customcomboboxmulti] .slds-icon--selected  .slds-icon
{
	position: absolute;
	top: 1px;
	left: 1px;
	stroke: var(--main-color-blue500) ;
	fill: var(--main-color-blue500) ;	
}

/**************COMBOBOX*****************************/

/**Dropdown -standard label*/
.label-text {
    font-weight: 700;
    color: var(--greys-color-bodytext);
    font-size: 1.125rem;
    line-height: 1.3125rem;
}

span[c-customcombobox_customcombobox].slds-listbox__option-meta_entity,
span[c-customcombobox_customcombobox].slds-listbox__option-meta_entity {
    font-style: var(--text-normal);
    font-weight: 400;
    font-size: var(--icon-size-18);
    line-height: 1.75rem;
    color: var(--greys-color-bodytext);
	font-family: 'ProximaNova-Bold';
}


[c-productdetailsdisplay_productdetailsdisplay].slds-listbox__option-text--entity,
[c-productdetailsdisplay_productdetailsdisplay].slds-listbox__option-text_entity,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-listbox__option-text--entity,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-listbox__option-text_entity
[c-prescribedprograminternal_prescribedprograminternal].slds-listbox__option-text--entity,
[c-prescribedprograminternal_prescribedprograminternal].slds-listbox__option-text_entity
{
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem !important;
    line-height: 1.3125rem;
    color: var(--greys-color-bodytext);
}
/*end of ComboBox*/

/*Search result*/
[c-productdetailsdisplay_productdetailsdisplay].chkBoxlabel .slds-form-element__label,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].chkBoxlabel .slds-form-element__label,
[c-prescribedprograminternal_prescribedprograminternal].chkBoxlabel .slds-form-element__label{
  font-family: "ProximaNova" !important;
  font-weight: var(--text-weight-400);
  color: var(--greys-color-bodytext);
  margin-left: 10px;
}

/** Desktop */
@media only screen and (min-width: 765px){


	/*Grid - Right Sidebar*/
  [c-productdetailsdisplay_productdetailsdisplay].slds-large-size_8-of-12, .slds-medium-size_8-of-12,
  [c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-large-size_8-of-12, .slds-medium-size_8-of-12,
  [c-prescribedprograminternal_prescribedprograminternal].slds-large-size_8-of-12, .slds-medium-size_8-of-12{
		width: 66.6666666667% !important /*current width*/ 
	}


  [c-productdetailsdisplay_productdetailsdisplay].slds-large-size_4-of-12, .slds-medium-size_4-of-12,
  [c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-large-size_4-of-12, .slds-medium-size_4-of-12,
  [c-prescribedprograminternal_prescribedprograminternal].slds-large-size_4-of-12, .slds-medium-size_4-of-12{
		width: 33.3333333333% !important/*current width*/ 
	}

  
/*displaying count and ComboBox*/
[c-productdetailsdisplay_productdetailsdisplay].slds-medium-size_5-of-12, .slds-large-size_5-of-12,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-medium-size_5-of-12, .slds-large-size_5-of-12,
[c-prescribedprograminternal_prescribedprograminternal].slds-medium-size_5-of-12, .slds-large-size_5-of-12{
    width: 41.6666666667% !important;
  }
  
[c-productdetailsdisplay_productdetailsdisplay].slds-medium-size_3-of-12, .slds-large-size_3-of-12,
[c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-medium-size_3-of-12, .slds-large-size_3-of-12,
[c-prescribedprograminternal_prescribedprograminternal].slds-medium-size_3-of-12, .slds-large-size_3-of-12{
  width: 25% !important;
}
/*end of displaying count and ComboBox*/

	/*accordion title using h4*/
  button.slds-accordion__summary-action span[c-prescribedprograminternal_prescribedprograminternal].h4,
  button.slds-accordion__summary-action span[c-productdetailsdisplayinternal_productdetailsdisplayinternal].h4,
	button.slds-accordion__summary-action span[c-productdetailsdisplay_productdetailsdisplay].h4{
		color: var(--main-color-blue500);
		font-size: var(--dt-line-height-h4);
		line-height: var(--dt-line-height-h3);
		font-weight: var(--text-Bold);
		margin-right: auto;
	}
	/*end*/

  [c-productdetailsdisplay_productdetailsdisplay].rightColumn,
  [c-productdetailsdisplayinternal_productdetailsdisplayinternal].rightColumn,
	[c-prescribedprograminternal_prescribedprograminternal].rightColumn {
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
		margin-left: 32px;
		padding: 16px;
	}	

  [c-productdetailsdisplay_productdetailsdisplay].slds-medium-size_2-of-12,
  [c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-medium-size_2-of-12,
  [c-prescribedprograminternal_prescribedprograminternal].slds-medium-size_2-of-12 {
    width: 16.6666666667%;
  }

  [c-productdetailsdisplay_productdetailsdisplay].slds-large-size_2-of-12,
  [c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-large-size_2-of-12,
  [c-prescribedprograminternal_prescribedprograminternal].slds-large-size_2-of-12 {
    width: 16.6666666667%;
  }

  [c-productdetailsdisplay_productdetailsdisplay].slds-medium-size_1-of-2,
  [c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-medium-size_1-of-2,
  [c-prescribedprograminternal_prescribedprograminternal].slds-medium-size_1-of-2 {
    width: 50%;
  }

  [c-productdetailsdisplay_productdetailsdisplay].slds-large-size_1-of-2,
  [c-productdetailsdisplayinternal_productdetailsdisplayinternal]  .slds-large-size_1-of-2,
  [c-prescribedprograminternal_prescribedprograminternal].slds-large-size_1-of-2{
    width: 50%;
  }

  /** Heading **/

  .heading1 {
	  font-family: "ProximaNova-Bold";
	  font-size: var(--dt-size-heading1);
	  line-height: var(--dt-line-height-h1);
	  font-style: var(--text-normal);
	  font-weight: var(--text-weight-700);
  }		
  .heading2{
	  font-family: "ProximaNova-Bold";
	  font-size: var(--dt-size-heading2);
	  line-height: var(--dt-line-height-h2);
	  font-style: var(--text-normal);
	  font-weight: var(--text-weight-700);
  }	
  .heading3{
	  font-family: "ProximaNova-Bold";
	  font-size: var(--dt-size-heading3);
	  line-height: var(--dt-line-height-h3);
	  font-style: var(--text-normal);
	  font-weight: var(--text-weight-700);
  }
  .heading4{
	  font-family: "ProximaNova-Bold";
	  font-size: var(--dt-size-heading4);
	  line-height: var(--dt-line-height-h4);
	  font-style: var(--text-normal);
	  font-weight: var(--text-weight-700);
  }
  .heading5{
    font-family: "ProximaNova";
	  font-size: var(--dt-size-height-h5);
	  line-height: var(--dt-line-height-h5);
	  font-weight: var(--text-Bold);
  }
  .heading6{
    font-family: "ProximaNova";
	  font-size: var(--dt-size-height-h6);
	  line-height: var(--dt-line-height-h5);
	  font-weight: var(--text-Bold);
  }

}

/*timeline button*/
.btbLearnmore button{
  border: 2px solid #0066B9 !important;
}
/*end of timeline*/

/** Mobile */
@media only screen and (max-width: 764px){
	.heading1 {
    font-family: "ProximaNova-Bold";
		font-size: var(--mb-size-heading1);
		line-height: var(--mb-line-height-h1);
		font-weight: var(--text-Bold);
	}		
	.heading2{
    font-family: "ProximaNova-Bold";
		font-size: var(--mb-size-heading2);
		line-height: var(--mb-line-height-h2);
		font-weight: var(--text-Bold);
	}	
	.heading3{
    font-family: "ProximaNova-Bold";
		font-size: var(--mb-size-heading3);
		line-height:  var(--mb-line-height-h3);
		font-weight: var(--text-Bold);
	}
	.heading4{
    font-family: "ProximaNova-Bold";
		font-size: var(--mb-size-heading4);
		line-height:  var(--dt-line-height-h4);
		font-weight: var(--text-Bold);
	}

	.heading5{
    font-family: "ProximaNova-Bold";
		color: var(--main-color-blue500);
		font-size: var(--mb-size-height-h4);
		line-height:  var(--dt-line-height-h4);
		font-weight: var(--text-Bold);
	}

	/*Grid - Right Sidebar*/
  
  [c-productdetailsdisplay_productdetailsdisplay].slds-large-size_8-of-12,
  [c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-large-size_8-of-12,
  [c-prescribedprograminternal_prescribedprograminternal].slds-large-size_8-of-12{
		width: 100% /*current width*/ 
	}

  [c-productdetailsdisplay_productdetailsdisplay].slds-large-size_8-of-12,
  [c-productdetailsdisplayinternal_productdetailsdisplayinternal].slds-large-size_4-of-12,
  [c-prescribedprograminternal_prescribedprograminternal].slds-large-size_4-of-12{
		width: 100% /*current width*/ 
	}

	/*accordion title using h4*/
  button.slds-accordion__summary-action span[c-productdetailsdisplayinternal_productdetailsdisplayinternal].heading4,
	button.slds-accordion__summary-action span[c-productdetailsdisplay_productdetailsdisplay].heading4,
  button.slds-accordion__summary-action span[c-prescribedprograminternal_prescribedprograminternal].heading4{
		color: var(--main-color-blue500);
		font-size: var(--mb-line-height-h4);
		line-height: var(--mb-line-height-h3);
		font-weight: var(--text-Bold);
		margin-right: auto;
	}

  .contact_link_container {
    margin: 0px 0px 0px 0px;
    padding-right: 0em;
  }

  /*program module*/
  [c-productdetailsdisplayinternal_productdetailsdisplayinternal].bodycontent,
  [c-productdetailsdisplay_productdetailsdisplay].bodycontent,
  [c-prescribedprograminternal_prescribedprograminternal].bodycontent{
    color:var(--greys-color-bodytext);
    font-size:var(--text-size-18);
  }
  /*end of program module*/
	
}

/*beadcrumb*/
.slds-breadcrumb__item.dynamicList{
  max-width: 18%;
}
[c-store-breadrumbs].slds-breadcrumb__item.dynamicList p, 
[c-store-breadrumbs].slds-breadcrumb__item.dynamicList a
{
  text-align: left;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis; 
}

div.main-container-bc [role=navigation] ol.slds-breadcrumb li:nth-child(n+4) a.dynamicList,
div.main-container-bc [role=navigation] ol.slds-breadcrumb li:nth-child(n+4) p.dynamicList
{
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  text-align: left;
}