.main-container-bc {
    width: 50%;
    position: absolute;
    left: 0;
}

nav {
    font-weight: bold;
    text-indent: 2em;
    width: 50%;
}

.Foryoulink{
    color: var(--greys-color-bodytext);
    font-family: ProximaNova-Bold;
}

.parentProd{
    text-align: left !important;

}

.childProd{
    color: var(--greys-color-bodytext);
    font-family: ProximaNova-Bold;
    text-align: left !important;

}