.slds-modal__header,
.slds-modal__footer{
    border-bottom-style: none !important;
    border-top-style: none !important;
    border-radius: 0;
}

.slds-modal__container{
    width: 60%;
    max-width: 52.0625rem;
    min-width: 20rem;
    margin:0px auto !important;
}

.slds-backdrop{
    height: 500vh !important;
}

/** Desktop */
@media only screen and (min-width: 765px){

    button.slds-button {
        width: auto;
    }

}

/** Mobile */
@media only screen and (max-width: 764px){
    button.slds-button {
        width: 5rem;
    }

    .slds-modal__container{
        margin: 1rem;
    }
}