.noclick {
    pointer-events: none;
}

.inputStyle {
    width: auto;
}

.text-bold {
    font-weight: bold;
}

.slds-scrollable{
    max-height: 500px;
    min-height: 100px;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
  }