.accordion-section {
  --sds-c-accordion-summary-color-background: #f3f2f2;
  --sds-c-accordion-color-border: white;
  --sds-c-accordion-heading-font-size: medium;
  --sds-c-accordion-sizing-border: 5px;
}

.custom-footer {
  left: 12px;
  bottom: 0px;
}
