.lightning-card {
  width: 100%;
}
.slds-card__header {
  padding: var(--lwc-varSpacingVerticalSmall, 0.75rem)
    var(--lwc-varSpacingHorizontalMedium, 1rem)
    var(--lwc-varSpacingVerticalSmall, 0.75rem);
}

.slds-card__footer {
  margin: 0 0 0;
}

.table-height-limit {
  height: 292px;
}

.disable-link {
  pointer-events: none;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140%;
  background-color: #032d60;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -55%;
}


.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: #032d60 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}