.accordion-section{
    --sds-c-accordion-summary-color-background : #f3f2f2;
    --sds-c-accordion-color-border : white;
    --sds-c-accordion-heading-font-size : medium;
    --sds-c-accordion-sizing-border : 5px;
}

.nested-accordion-section{
    --sds-c-accordion-summary-color-background : #fcfcfc;
    --sds-c-accordion-color-border : white;
    --sds-c-accordion-heading-font-size : small;
    --sds-c-accordion-sizing-border : 5px;
}

.create-evaluation-button{
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 2;
    float: right;
}

.slds-modal__content {
    overflow: visible;
    overflow-y: visible;
}

.half-width{
    width: 50%;
}
