.slds-input-has-icon .slds-input__icon {
    top: 48% !important;
    outline: none !important;
    box-shadow: none!important;
}
.slds-icon_small, .slds-icon--small {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2;
}