::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    overflow-x:hidden !important;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);

}