.header {
  font-weight: bold;
  background-color: #fff;
  height: auto;
  padding: 20px 0px;
}
.infoheader{
  background-color: #fff;
  height: auto;
  padding: 20px 0px 40px 0px;
  font-size:medium;
}
p.headingText {
  font-size: 37pt;
  line-height: 1.1;
  text-align: inherit;
}

.typeHeader {
  font-size: 31px;
  font-weight: bold;
}

.padd-right-left{
  padding: 0px 5px;
}

.sortCombobox{
  text-align: left;
}

.customFilterGrid{
  margin-right: 5px;
}

@media only screen and (max-width: 764px) {
  p.headingText {
    font-size: 33pt;
  }
}
